<?xml version="1.0" ?>

<mode>"fibonacci"</mode>

<referenceAxis>  z  </referenceAxis>

<numTests> 30 </numTests>

<controller>altitude</controller> <!-- "altitude" or "position" -->

<gains>
        <gain1>
                <type> 0 </type> <!-- Type 0 = kp, type 1 = ki, type 2 = kd -->
                <range>
                        <min> 0.5 </min>
			<max> 5.0 </max>
		</range>
	</gain1>
        <gain2>
                <type> 1 </type> <!-- Type 0 = kp, type 1 = ki, type 2 = kd -->
		<range> 
			<min> 0.0 </min>
			<max> 2.0 </max>
		</range>
	</gain2>
        <gain2init> 0.5 </gain2init>
</gains>


